
#header {
    text-align: center;
    color: black;
    background-color: rgb(103, 110, 189);
    border: 5px solid rgb(80, 84, 143);
    padding: 2px;
    margin: 1px;
}
#section {
    background-color: rgb(103, 110, 189);
    border: 5px solid rgb(80, 84, 143);
    padding: 2px;
    margin: 1px;
    height: 500px;
    
}
#imagen {
    font-size: calc(1em + 1vw);
    border: 5px solid rgba(98, 104, 170, 0.877);
}
#persona {
    text-align: center;
    padding-top: 50px;
    font-family: "Courier New", Courier, monospace;
    font-size: 70px;
    font-weight: 700;
}
#telefono,#correo,#direccion,#icon,#i {
    text-align: left;
    padding: 10px;
    padding-left: 30px;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;

}
