* {
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}
#header {
    color: black;
    background-color: #1c6ea4a6;
    box-shadow: 2px 2px 7px 1px #1C6EA4;
    margin: 2px;
    padding: 1px;
    top: 1px;
    right: 1px;
    height: 20%;
    width: 100%;
    flex-wrap: wrap;
}
#imagen {
    padding: 0;
    top: 20px;
    left: 10px;
    width: 80%;
}
.container {
    height: 100%;
    width: 100%;
    right: 1px;
    margin: 1px;
    flex-wrap: wrap;
}
.nombre {
    height: 40vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#persona {
    font-family: "Courier New", Courier, monospace;
    color: black;
    text-shadow: 2px 5px 5px #1570ad;
    text-align: center;
    font-size: 60px;
    font-weight: 100%;
    font-weight: 700;
}

#section {
    text-align: center;
    background-color: #1c6ea4a6;
    box-shadow: 2px 2px 7px 1px #1C6EA4;
    margin: 2px;
    left: 1px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#telefono,#correo,#direccion {
    padding-top: 20px;
    font-family: "Times New Roman", Times, serif;
    font-size: 100%;
    text-shadow: 2px 4px 4px #0868a8;
}
#section1 {
    text-align: center;
    margin: 2px;
    padding: 20px;
    left: 1px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.button{
    padding-top: 10px;
    text-align: center;
    justify-content: space-evenly;
    box-shadow: 2px 2px 7px 1px #1C6EA4;
    background-color: white;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
}
#todo,#datos,#experiencia,#habilidades {
    font-family: "Times New Roman", Times, serif;
    font-size: 100%;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

#section3 {
    margin: 2px;
    padding-left: 40px;
    left: 1px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#parrafo,#titulo,#parrafo1,#parrafo2 {
    font-family: "Times New Roman", Times, serif;
    font-weight: 100%;
    color:black;
}
/*body {
    height:100%;
    width: 99%;
    margin:0;
}
#header {
    color: black;
    background-color: #1c6ea4a6;
    box-shadow: 2px 2px 7px 1px #1C6EA4;
    padding: 4px;
    margin: 2px;
    width: 100%;
    height: 100%;
}
#imagen {
    justify-content: center;
    box-shadow: 2px 2px 7px 1px #1C6EA4;
}
#persona {
    text-align: center;
    padding-top: 50px;
    font-family: "Courier New", Courier, monospace;
    color: black;
    text-shadow: 2px 5px 5px #1570ad;
    font-size: 4vW;
    font-weight: 700;
}

#section {
    text-align: center;
    background-color: #1c6ea4a6;
    box-shadow: 2px 2px 7px 1px #1C6EA4;
    padding: 20px;
    margin: 2px;
    height: 100%;
}
#telefono,#correo,#direccion {
    text-align: left;
    padding-top: 10px;
    font-family: "Times New Roman", Times, serif;
    font-size: 2vW;
    text-shadow: 2px 4px 4px #0868a8;
}

#section1 {
    padding: 2px;
    margin: 2px;
    text-align: right;
}
#datos,#experiencia,#habilidades,#todo {
    font-family: "Times New Roman", Times, serif;
    font-size: 2vw;
    color:rgb(0, 0, 0);
}

#section2 {
    padding: 5px;
    margin: 1px;
    text-align: left;
}
#boton1,#boton2,#boton3,#boton,#boton5 {
    box-shadow: 2px 2px 7px 1px #1C6EA4;
    background-color: white;
    width: 15vw;
    height: 5vw;
    text-align: center;
    padding: 12px;
    margin: 15px;
}

#section3 {
    text-align: justify;
    justify-content: center;
    margin-top: 30px;
}
#parrafo,#titulo,#parrafo1,#parrafo2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 1vW;
    color:black;
}
*/